[Desktop Entry]
Name=Slimbook RGB Keyboard
Version=1.5
Exec=slimbookrgbkeyboard
Comment=Modify your keyboard options!
Icon=/usr/share/slimbookrgbkeyboard/src/images/icono.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;


