[Desktop Entry]
Name=Slimbook RGB Keyboard
Version=0.3.6
Exec=slimbookrgbkeyboard
Comment=Modify your keyboard options!
Icon=/usr/share/slimbookrgbkeyboard/src/images/icono.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;


