Source: slimbookrgbkeyboard
Section: utils
Priority: optional
Maintainer: slimbook <dev@slimbook.es>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.4.1
Homepage: http://slimbook.es
 
Package: slimbookrgbkeyboard
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3,
    python3-all,
    python3-gi,
    git,
    libcurl4,
    slimbook-keyboard-dkms,
    python3-ite8291r3-ctl,
    slimbook-qc71-dkms
Description: Slimbook RGB, gestiona el color y brillo de tu teclado.
 Description: Slimbook RGB, gestiona el color y brillo de tu teclado.
