Package: slimbookrgbkeyboard
Version: 0.3.3
Architecture: all
Maintainer: slimbook <dev@slimbook.es>
Installed-Size: 220
Depends: python3, python3-all, python3-gi, python3-pil, python3-pip, python3-dbus, git, build-essential, cmake, cmake-data, pciutils, libcurl4, libudev-dev, libudev1, libpci-dev, libpci3, librhash0, udev, zlib1g-dev
Section: utils
Priority: optional
Homepage: http://slimbook.es
Description: Slimbook RGB, gestiona el color y brillo de tu teclado.
 Description: Slimbook RGB, gestiona el color y brillo de tu teclado.
