[Desktop Entry]
Type=Application
Exec=pkexec slimbookrgbkeyboard-applyconfig-pkexec 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=slimbookrgbkeyboard-autostart.desktop
Name=Slimbook RGB Keyboard Autostart
Comment[es_Es]=Arranque de autoinicio de Slimbook RGB Keyboard
Comment=Slimbook AMD Controller's autostart executable
X-GNOME-Autostart-Delay=0

